
        /* Navigation bar style */
        body
        {
            background-color: lightgray;
            color: #485e74;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .navigation-bar {
            background-color: #33a499;
            text-align: left;
            padding: 10px;
            margin-bottom: 10px;
        }
        .navigation-menu {
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .navigation-menu li {
            display: inline-block;
        }
        .navigation-menu li a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        .navigation-menu li a:hover {
            background-color: white;
            color: rgb(88, 233, 187);
        }

        
        /* Form style */
        form {
            background-color: lightgray;
            padding: 20px;
            margin: auto;
            box-shadow: 0 0 20px rgba(72, 94, 116, 0.7);
        }
        form > *
        {
            padding: 1em;
        }
        form div {
            margin-bottom: 10px;
        }
        form label {
            display: inline-block;
            width: 150px;
            text-align: right;
            margin-right: 10px;
        }
        form input[type="text"], form input[type="email"], form input[type="password"], form select {
            width: 300px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;
        }
        form input[type="submit"], form input[type="reset"] {
            background-color: rgb(18, 157, 232);
            border-radius: 15px;
            color: white;
            padding: 10px 20px;
            margin-right: 20px;
            border: none;
            cursor: pointer;
        }

        form input[type="submit"]:hover, form input[type="reset"]:hover {
            background-color: darkturquoise;
            color: white;

        }

        .firstLine
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .secondLine
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .thirdLine
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .fourthLine
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .fifthLine
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sixthLine
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .seventhLine
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #message{
            background-color: #23a900;
            color: white;
            padding: 5px;
        }
    