{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT AFFAIRS</title>
    <link rel="stylesheet" href="{% static 'css/searchstudent.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">



<body>
<header>
<div class="navigation-bar">
    <ul class="navigation-menu">
        <li><a href="{% url 'main' %}">Main Page</a> </li>
        <li><a href="{% url 'add' %}">Register</a></li>
        <li><a href="{% url 'view' %}">View Students</a></li>
        <li><a href="{% url 'depart' %}">Register department</a></li>
        <li><a href="{% url 'search' %}" class="active">Find Student</a></li>
        <li><a href="{% url 'edit' %}">Edit or delete student</a></li>
    </ul>
    <ul class = "navigation-menu">
        <div style=" display: inline-block;
            margin-left:-50px;
            ">
            <li><a href="{% url 'login' %}">sign out</a></li>
            <li> <img src="{% static 'image/istockphoto-1209654046-612x612.jpg' %}" alt="avatar" width="30" height="30"></li>
        </div>
    </ul>
</div>
</header>
<center>
    <img src="{% static 'image/generic_logo.png' %}" height="150" width="500"/></header>
</center>
<div id="errf" hidden></div>
<h1 class="page-name">Search for students</h1>
<div class = "container2">
<div class="container1">
    <form>
        <div class="user_input">
            <label for="GID"><b>ID</b></label>
            <input id="GID" type="text"  value="" required placeholder = "ENTER STUDENT ID">
        </div>
        <div class="user_button">
            <button id="btn1">Search</button>
        </div>
    </form>
</div>
<div class="container">
    <form>
        <div class="f_n">
            <label for="fullname"><b>STUDENT NAME </b></label>
            <input id="fullname" type="text"  value="" readonly />
        </div>
        <div class="i_d">
            <label for="ident"><b>ID</b></label>
            <input id="ident" type="text" value=""  readonly />
        </div>
        <div class="gpa">
            <label for="GPA"><b>GPA</b></label>
            <input id="GPA" type="text" value=""  readonly />
        </div>
        <div class="b_d">
            <label for="BD"><b>BIRTHDAY </b></label>
            <input id="BD" type="text" value=""  readonly />
        </div>
        <div class="stat">
            <label for="state"><b>STATUS </b></label>
            <input id="state" type="text" value="" readonly />
        </div>
        <div class="dpt">
            <label for="dept"><b>DEPARTMENT </b></label>
            <input id = "dept" type="text" value=""  readonly />
        </div>
        <div class="cntct">
            <label for="contact"><b>CONTACT </b></label>
            <input id="contact" type="text"  value="" readonly />
        </div>
        <div class="eml">
            <label for="email"><b>EMAIL </b></label>
            <input id="email" type="text" value=""  readonly />
        </div>
    </form>
</div>
</div>
<script src="{% static 'js/searchstudent.js' %}"></script>
</body>
</html>













<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT AFFAIRS</title>
    <link rel="stylesheet" href="searchstudent.css">
    <script src="searchstudent.js"></script>

</head>
<body>
    <header class="top">
            <h2 class="title">Cairo university</h2>
            <img class="logo" src="logo_uni-copy1.png" width="100" height="100"/></div>
    </header>>

    <div class="navigation-bar">
            <ul class="navigation-menu">
                <li><a href="mainpage.html">Main Page </a> </li>
                <li><a href="AddStudent.html">Register </a></li>
                <li><a href="view all students.html">View Students </a></li>
                <li><a href="department_assign.html">Register department </a></li>
                <li><a href="searchstudent.html">Find Student </a></li>
                <li><a href="edit.html">Edit student</a></li>

            </ul>
    </div>
 <div>
<input id="btn_sub" type="button" value="SEARCH">
    <input type="search" placeholder="search">
    <div class="search_name">
            <label for="fn"><b>STUDENT NAME</b></label>
            <input id="fn" type="search" required placeholder="ENTER STUDENT NAME">
        </div>
</div> -->

<!--  <form class="search">
     <div class="search_id">
         <label for="ln"><b>STUDENT ID</b></label>
         <input id="ln" type="text" required placeholder = "ENTER STUDENT ID">
     </div>
     <div class="search_btn">
         <button id="btn_sub">search</button>
     </div>
 </form>

 <form class="profile">
     <div class="f_n">
         <label for="fullname"><b>STUDENT NAME </b></label>
         <input id="fullname" type="text" value="name" readonly />
     </div>

     <div class="i_d">
         <label for="ident"><b>ID</b></label>
         <input id="ident" type="text"  value="DATABASE ID" readonly />
     </div>

     <div class="gpa">
         <label for="GPA"><b>GPA</b></label>
         <input id="GPA" type="text"  value="DATABASE GPA" readonly />
     </div>

     <div class="b_d">
         <label for="BD"><b>DATE OF BIRTH </b></label>
         <input id="BD" type="text"  value="DATABASE DATE OF BIRTH" readonly />
     </div>

     <div class="stat">
         <label for="state"><b>STATUS </b></label>
         <input id="state" type="text"  value="DATABASE STATE" readonly />
     </div>

     <div class="dpt">
         <label for="dept"><b>DEPARTMENT </b></label>
         <input id = "dept" type="text"  value="DATABASE DEPARTMENT" readonly />
     </div>

     <div class="cntct">
         <label for="contact"><b>CONTACT </b></label>
         <input id="contact" type="text"  value="DATABASE CONTACT" readonly />
     </div>

     <div class="eml">
         <label for="email"><b>EMAIL </b></label>
         <input id="email" type="text"  value="DATABASE EMAIL" readonly />
     </div>
 </form>
</body>
</html>
-->